
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
  }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;}
  .spacing-right-auto {
      padding-right: initial;
  }
  .spacing-left-auto {
      padding-left: initial;
  }
  .spacing-bottom-auto {
      padding-bottom: initial;
  }
  .spacing-top-auto {
      padding-top: initial;
  }
  .spacing-right-small {
      padding-right: 14px;
  }
  .spacing-left-small {
      padding-left: 14px;
  }
  .spacing-bottom-small {
      padding-bottom: 14px;
  }
  .spacing-top-small {
      padding-top: 14px;
  }
  .spacing-right-medium {
      padding-right: 32px;
  }
  .spacing-left-medium {
      padding-left: 32px;
  }
  .spacing-bottom-medium {
      padding-bottom: 32px;
  }
  .spacing-top-medium {
      padding-top: 32px;
  }
  .spacing-right-large {
      padding-right: 67px;
  }
  .spacing-left-large {
      padding-left: 67px;
  }
  .spacing-bottom-large {
      padding-bottom: 67px;
  }
  .spacing-top-large {
      padding-top: 67px;
  }
  .align-center {
    text-align: center;
  }
  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);}
  body {
    min-width: 320px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
  }
  article, aside, details,
  figcaption, figure, footer,
  header, hgroup, main, menu,
  nav, section, summary {
    display: block;}
  div {
    position: relative;}
