#form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background: rgba(0,0,0,0.85);
    overflow: auto;
}
#form .modal-content {
    height: 670px;
    width: 1200px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#form .modal-header {
    text-align: right;
}
#form #closeForm {
    height: 50px;
    width: 50px;
    font-size: 35px;
    color: #000000;
    background: transparent;
    border: none;
    outline: none;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
#contactForm {
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    margin: auto;
}
#contactForm .row {
    margin-left: 0;
    margin-right: 0;
}
#contactForm .form-group {
    width: 100%;
    margin-bottom: 20px;
}
label.control-label {
    display: none;
}
.user-input {
    display: block;
    width: 100%;
    font-size: 17px;
    padding: 18px 23px;
    line-height: 23px;
    border: 1px solid;
    height: 100%;
    color: #353535;
    background-color: #f8f8f8;
    font-style: normal;
    font-weight: 400;
    border-color: transparent;
}
.text_system_9 {
    font-weight: 300;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: #747474;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0px;
    max-width: 1000px;
    margin: auto;
}
input:focus, textarea:focus {
    outline: 1px solid #353535;
}
#contactForm .button-inside {
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 50px;
}
#contactForm .button-inside button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #353535;
    background-color: transparent;
    border-color: #353535;
    padding: 16px 60px 15px;
    text-align: center;
    border: 2px solid;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    line-height: 1;
    font-size: 18px;
    outline: none;
}
#contactForm .button-inside button:hover {
    color: #ffffff;
    background-color: #e48301;
    border-color: #e48301;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
#form .modal-content {
width: 900px;}
}
@media all and (min-width: 768px) and (max-width: 991px) {

    #form .modal-content {
      width: 700px;}
}
@media all and (max-width: 767px){
    #form .modal-content {
      width: 500px;
      height: auto;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      overflow-y: auto;}
    #form .modal-body {
      height: auto;}
}
@media all and (max-width: 500px) {
    #form .modal-content {
      width: 100%;
      min-width: 320px;
      height: auto;}
  }
