.tooltip {
  position: relative;
  display: inline-block;}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;
  position: absolute;
  z-index: 1;
  bottom: 37%;
  font-size: 12px;
  left: 50%;
  margin-left: -85px;
  opacity: 0;
  transition: opacity 1s;}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;}
#title {
  height: 100vh;
  width: 100%;
  background-image: url('../images/home-header1.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;}
.main-header {
  text-align: center;
  margin-bottom: -180px;}
.text_1 {
  text-transform: uppercase;
  font-weight: 300;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 69px;
  line-height: 1.2;
  letter-spacing: 0px;}
#scroll-to-services {
  display: block;
  margin-top: 180px;}
.content-header {
  padding: 25px 0;}
#section-content .container-fluid {
  padding-left: 15px;
  padding-right: 15px;}
.text_system_6 {
  font-weight: 300;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  color: #353535;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0px;}
.container_content_h001,
.container_content_h002,
.container_content_h003 {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.33333333% - 20px);
  height: 30vw;
  min-height: 350px;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 30px;
  border-style: none;
  border-color: #fff;
  border-width: 0px;
  border-radius: 0px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;}
.container_content_h001 {
  background-image: url("../images/home-about-us1.jpg");}
.container_content_h002 {
  background-image: url("../images/home-about-us2.jpg");}
.container_content_h003 {
  background-image: url("../images/home-about-us3.jpg");}
.container_content_h004,
.container_content_h005,
.container_content_h006 {
  height: 30vw;
  min-height: 350px;
  margin: 0px 10px;
  margin-bottom: 30px;
  padding: 0px 10px;
  width: calc(50% - 20px);
  border-width: 0px;
  border-radius: 0px;}
.container_content_h004 {
  background-image: url("../images/home-about-us4.jpg");
  background-color: transparent;
  border-style: none;
  border-color: #fff;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;}
.container_content_h005 {
  padding: 0;
  background-image: url("../images/home-about-us5.jpg");
  background-color: transparent;
  border-style: none;
  border-color: #fff;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;}
.container_content_h006 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e48301;
  border-style: none;
  border-color: #fff;}
.text_108,
.text_system_15,
.text_system_5 {
  padding: 67px 15px 0 15px;
  text-align: center;}
.text_system_5 {
  font-size: 3.5vw;
  font-weight: 300;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0px;}
.text_108 {
  font-size: 4vw;
  font-weight: 300;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0px;}
.text_system_15 {
  font-size: 3vw;
  font-weight: 300;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0px;}
.text_system_9 {
  font-weight: 300;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  color: #747474;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0px;}
.text_109 {
  font-size: 7vw;
  font-weight: 300;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  line-height: 1;
  letter-spacing: 0px;}
.text_109 a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  font-style: normal;}
.text_110 {
  font-size: 3vw;
  font-weight: 300;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0px;}
.text_110 a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  font-style: normal;}
#section-form {
  padding-bottom: 30px;}
#section-form .row {
  margin: 0;}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;}
#contactFormStatic,
#contactForm {
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  margin: auto;}
#contactForm .form-group,
#contactFormStatic .form-group {
  width: 100%;
  margin-bottom: 20px;}
label.control-label {
  display: none;}
.user-input {
  display: block;
  width: 100%;
  font-size: 17px;
  padding: 18px 23px;
  line-height: 23px;
  border: 1px solid;
  height: 100%;
  color: #353535;
  background-color: #f8f8f8;
  font-style: normal;
  font-weight: 400;
  border-color: transparent;}
#contactForm .button-inside,
#contactFormStatic .button-inside {
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 50px;}
#contactForm .button-inside button,
#contactFormStatic .button-inside button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #353535;
  background-color: transparent;
  border-color: #353535;
  padding: 16px 60px 15px;
  text-align: center;
  border: 2px solid;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  line-height: 1;
  font-size: 18px;
  outline: none;}
  #contactForm .button-inside button:hover,
  #contactFormStatic .button-inside button:hover {
    color: #ffffff;
    background-color: #e48301;
    border-color: #e48301;
  }
.button-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 67px;
  text-align: center;}
.button-bottom .button-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: inline-block;
  position: relative;
  text-align: center;
  border: 2px solid;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  line-height: 1;
  padding: 16px 60px 15px;
  font-size: 18px;}
.button-bottom .button-link:hover {
  color: #000000;
  background: #ffffff;
  border-color: #ffffff;}
.button-label {
  text-decoration: none;}
.padding-zero {
  padding: 0;}
.container_content_h011 {
  margin: 0px;
  padding: 25px 0px;
  background-color: #ebebeb;
  border-style: none;
  border-width: 0px;
  border-radius: 0px;}
.container_content_h011 > .container-fluid {
  max-width: 800px;}
.container_content_h011 .image-link {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  height: 100%;}
.container_content_h011 .image-link .picture {
  max-width: 100%;
  max-height: 100%;}

#form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background: rgba(0,0,0,0.85);}
#form .modal-content {
  height: 670px;
  width: 1200px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}
#form .modal-header {
  text-align: right;}
#form .modal-body {
  height: calc(100vh - 50px);}
#form #closeForm {
  height: 50px;
  width: 50px;
  font-size: 35px;
  color: #000000;
  background: transparent;
  border: none;
  outline: none;}
#contactForm .row {
  margin-left: 0;
  margin-right: 0;}
@media all and (min-width: 1200px) {
  #title {
    max-height: 1200px;
    background-attachment: fixed;}
  .overscroll {
    background-color: rgba(0,0,0,0.85);
    transition: all ease .5s;}
  .parallax {
    background-attachment: fixed;}
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  #title {
    max-height: 992px;
    background-attachment: fixed;}
  .parallax {
    background-attachment: fixed;}
  .first-row>.container-fluid>.row,
  .second-row>.container-fluid>.row {
    margin: 0;}
  .text_system_5 {
    font-size: 32px;}
  .text_108 {
    font-size: 36px;}
  .text_109 {
    font-size: 60px;}
  .text_system_15 {
    font-size: 30px;}
  .button-bottom .button-link {
    font-weight: 500;
    padding: 12px 40px;
    font-size: 16px;}
  .overscroll {
    background-color: rgba(0,0,0,0.85);
    transition: all ease .5s;}
}
@media all and (min-width: 768px) and (max-width: 991px) {
  #title {
    max-height: 768px;
    background-attachment: fixed;}
  .main-header {
    margin-bottom: -90px;}
  .text_1 {
    font-size: 55px;
    text-align: center;}
  #scroll-to-services {
    margin-top: 100px;}
  .text_system_6 {
    font-size: 40px;}
  .first-row>.container-fluid>.row,
  .second-row>.container-fluid>.row {
    margin: 0;}
  .first-row>.container-fluid,
  .second-row>.container-fluid {
    padding: 0;}
  .container_content_h001,
  .container_content_h002,
  .container_content_h003,
  .container_content_h004,
  .container_content_h005,
  .container_content_h006 {
    height: 250px;
    min-height: 250px;}
  .text_108,
  .text_system_15,
  .text_system_5 {
    padding: 35px 15px 0 15px;}
  .text_system_5 {
    font-size: 26px;}
  .text_108 {
    font-size: 32px;}
  .text_system_15 {
    font-size: 22px;}
  .button-bottom {
    padding-bottom: 45px;}
  .button-bottom .button-link {
    padding: 10px 24px 10px;
    font-size: 14px;
    font-weight: 500;}
  .overscroll {
    background-color: rgba(0,0,0,0.85);
    transition: all ease .5s;}
}
@media all and (max-width: 767px){
  #title {
    height: 500px;}
  .main-header {
    margin-bottom: -90px;}
  .text_1 {
    font-size: 38px;
    text-align: center;}
  #scroll-to-services {
    display: none;}
  .text_system_5, .text_108, .text_system_15 {
    font-size: 38px;}
  .text_system_6 {
    font-size: 34px;}
  #section-content .container-fluid {
    padding: 0 15px;}
  .first-row>.container-fluid>.row,
  .second-row>.container-fluid>.row {
    margin: 0;}
  .container_content_h001,
  .container_content_h002,
  .container_content_h003 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 350px;
    min-height: 350px;
    padding: 0;}
  .container_content_h004,
  .container_content_h005,
  .container_content_h006 {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;}
  .button-bottom .button-link {
    font-weight: 500;
    padding: 16px 60px;
    font-size: 16px;}
  .text_109 {
    font-size: 60px;}
  .text_110 {
    font-size: 40px;}
  .padding-zero {
    padding: 0;}
  .container_content_h011 > .container-fluid > .row{
    margin: 0;}
  .container_content_h011 .tooltiptext {
    visibility: visible;
    opacity: 1;}
}
@media all and (max-width: 500px) {
  .text_1 {
    padding: 0 15px;}
  .text_system_6 {
    font-size: 30px;}
  .container_content_h001,
  .container_content_h002,
  .container_content_h003,
  .container_content_h004,
  .container_content_h005,
  .container_content_h006 {
    height: 250px;
    min-height: 250px;}
  .text_system_5,
  .text_108,
  .text_system_15 {
    font-size: 28px;
    padding-top: 40px;}
  .button-bottom {
    padding-bottom: 35px;}
  .button-bottom .button-link {
    font-weight: 400;
    padding: 12px 40px;
    font-size: 16px;}
}
