.container_header_logo img.widget-image-picture {
    height: 100px;
    width: auto;
    max-width: 455px;
}
.widget-menu.preset-default .widget-menu-list .widget-menu-item .widget-menu-link-level-1 {
    font-weight: 600;
}
.widget-menu .widget-menu-list >.widget-menu-item >.widget-menu-link {
    padding: 41px 18px 40px;
}
.widget-menu .widget-menu-list >.widget-menu-item >.widget-menu-link.two-line-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
