.widget-menu .widget-menu-list >.widget-menu-item >.widget-menu-link {
    font-size: 14px;
    line-height: 18px;
    padding: 41px 8px 41px;
}
.widget-menu.preset-default .widget-menu-list .widget-menu-item .widget-menu-link-level-1 {
    font-weight: 600;
}
.container_header_logo img.widget-image-picture {
    height: 100px;
    width: 302px;
    max-width: 302px;
}
.widget-menu .widget-menu-list >.widget-menu-item >.widget-menu-link.two-line-link {
    padding-top: 23px;
}
.widget-menu .widget-menu-list >.widget-menu-item:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 13px;
    left: -5px;
    top: 43px;
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
}
.widget-button .widget-button-link {
  padding: 16px 30px 15px;
}

#form .modal-content {
  width: 100%;
  max-width: 1200px;
}

.text_system_16 {
  font-size: 30px;
}
